.banner {
  width: 100%;
  padding-top: 13px;
}

.banner__title {
  padding-bottom: 17px;

  .font (14px, 14px, 400);
  color: @white-font-color;
  text-align: center;
  text-transform: uppercase;
}

.banner__image {
  display: block;
  .margin-center;
  padding-bottom: 4px;
}
