.clarifications {
  margin: 0;
  padding: 0;
}

.clarifications__title {
  margin: 0;

  .font (36px, 51px, 400);
  color: @big-font-color;
}

.clarifications__list {
  .list-style;
  padding-top: 22px;
  padding-bottom: 35px;
}

.clarifications__item {
  position: relative;

  padding: 13px 0;
  padding-left: 80px;

  &::before {
    position: absolute;
    content: "";
    top: 11px;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: @green;
    background-image: url("../img/advantage-leaf@1x.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--powder::before {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--dining::before {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--clock::before {
    background-image: url("../img/advantage-clock@1x.png");
  }
}

.clarifications__item-text {
  margin: 0;

  .font (14px, 18px, 400);
  .font-arial;
}

.clarifications__number {
  display: none;
}

@media (min-width: @tablet-width) {
  .clarifications {
    padding-top: 18px;
  }

  .clarifications__title {
    padding-bottom: 18px;

    .font (60px, 60px, 400);
  }

  .clarifications__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 0;
  }

  .clarifications__item {
    width: 45.9%;
    padding-top: 143px;
    padding-left: 0;
    padding-bottom: 102px;

    &::before {
      top: 31px;

      width: 80px;
      height: 80px;
    }
  }

  .clarifications__item-text {
    width: 80%;

    .font (16px, 24px, 400);
  }

  .clarifications__item-text span {
    display: block;
  }

  .clarifications__number {
    position: absolute;
    content: "";
    top: -8px;
    left: 56%;
    transform: translateX(-50%);
    z-index: -1;

    display: block;
    margin: 0;

    .font (281px, 281px, 400);
    color: #f2f2f2;

    &--first {
      left: 58%;
    }
  }
}

@media (min-width: @desktop-width) {
  .clarifications {
    padding-top: 43px;
  }

  .clarifications__title {
    padding-bottom: 19px;
  }

  .clarifications__item {
    width: 245px;
    padding-bottom: 50px;
  }

  .clarifications__item-text {
    width: 100%;
  }

  .clarifications__number {
    left: 73.5%;

    &--first {
      left: 76.6%;
    }
  }
}
