
.fit-programs__list {
  .list-style;
  padding-top: 22px;
}

.fit-programs__item {
  position: relative;

  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
  margin-bottom: 20px;

  background-color: @backgound-gray;

  &::before {
    position: absolute;
    content: "";
    top: 24px;
    left: 22px;

    height: 50px;
    width: 50px;

    border-radius: 50%;
    background-color: @green;
  }

  &::after {
    position: absolute;
    content: "";
    top: 22px;
    left: 22px;

    height: 50px;
    width: 50px;

    background-image: url("../img/icon-cat-slim.svg");
    background-position-x: center;
    background-repeat: no-repeat;
  }

  &--fat::after {
    top: 35px;
    left: 13px;

    width: 67px;

    background-image: url("../img/icon-cat-pro.svg");
  }
}

.fit-programs__item-title {
  width: 70.5%;
  padding-top: 10px;
  margin-top: 0;
  margin-left: auto;

  .font (24px, 37px, 400);
  color: @big-font-color;
  text-transform: uppercase;
}

.fit-programs__item-text {
  padding-top: 10px;
  padding-bottom: 22px;
  margin: 0;

  .font (14px, 18px, 400);
  .font-arial;
  color: #444444;

  border-bottom: 1px solid #d9d9d9;
}

.fit-programs__item-link {
  position: relative;

  display: block;
  padding-top: 16px;
  padding-bottom: 17px;

  text-decoration: none;
}

.fit-programs__link-text {
  position: relative;
  display: inline-block;

  padding-right: 45px;

  .font (16px, 16px, 400);
  color: @big-font-color;
  text-transform: uppercase;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    right: 10px;
    transform: translateY(-50%);

    width: 24px;
    height: 12px;

    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }
}

.fit-programs__item-link:hover .fit-programs__link-text::before {
  right: 0;

  width: 34px;

  background-image: url("../img/icon-right-arrow-verylong.svg");
}

.fit-programs__item-link:active .fit-programs__link-text {
  color: rgba(068, 068, 068, 0.3);
}

.fit-programs__item-link:active .fit-programs__link-text::before {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .fit-programs__list {
    padding-top: 0;
  }

  .fit-programs__item {
    padding: 52px;
    padding-right: 40%;
    padding-bottom: 40px;
    margin-bottom: 30px;

    &--fat {
      padding-right: 44.5%;
    }

    &::before {
      left: auto;
      top: 92px;
      right: 62px;

      width: 200px;
      height: 200px;
    }

    &::after {
      left: auto;
      top: 80px;
      right: 92px;

      width: 140px;
      height: 194px;
    }

    &--fat::after {
      left: auto;
      top: 133px;
      right: 28px;

      width: 268px;
      height: 112px;
    }
  }

  .fit-programs__item-title {
    margin: 0;
    padding-top: 24px;

    .font (36px, 37px, 400);
  }

  .fit-programs__item-text {
    min-height: 96px;
    padding-top: 25px;
    padding-bottom: 41px;

    .font (16px, 24px, 400);

    border: none;
  }

  .fit-programs__link-text {
    padding-right: 58px;
    .font (20px, 20px, 400);
  }
}

@media (min-width: @desktop-width) {
  .fit-programs__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .fit-programs__item {
    width: 466px;
    padding-right: 52px;

    &::before {
      top: 47px;
      right: auto;

      width: 100px;
      height: 100px;
    }

    &::after {
      top: 41px;
      left: 66px;
      right: auto;

      width: 70px;
      height: 97px;
    }

    &--fat::after {
      top: 69px;
      left: 34px;

      width: 134px;
      height: 56px;
    }
  }

  .fit-programs__item-title {
    width: auto;
    padding-left: 162px;
  }

  .fit-programs__item-text {
    padding-top: 74px;
    padding-bottom: 0;
  }

  .fit-programs__item-link {
    padding-top: 8px;
  }
}
