.invite-dealers {
  display: flex;
  align-items: center;

  min-height: 112px;
  .margin-center;
  padding: 0 20px;

  background-color: #f2f2f2;

  &--index {
    background-color: @white;
  }
}

.invite-dealers__title {
  width: 50%;

  .font (16px, 20px, 400);
  text-transform: uppercase;
  color: @big-font-color;
}

.invite-dealers__title-text {
  display: block;
}

.invite-dealers__address {
  width: 50%;

  .font-arial;
  .font (14px, 20px, 400);
  color: #444444;
}
