.page-main__title {
  margin: 0;
  padding-right: 22px;
  padding-top: 26px;
  padding-bottom: 40px;

  .font (36px, 36px, 400);
  text-align: center;

  &--index {
    .margin-center;
    padding-right: 0;
    padding-bottom: 0;

    color: @white;

    border: none;
  }

  &--form {
    padding-bottom: 25px;
    border-bottom: none;
  }
}

.page-main__container {
  padding: 0 20px;
  .margin-center;
}

@media (max-width: @mobile-width) {
  .page-main--index {
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-position-x: center;
    background-repeat: no-repeat;
  }

  .page-main__title--index {
    max-width: 320px;
  }
}

@media (min-width: @tablet-width) {
  .page-main--catalog .page-main__title {
    padding-bottom: 25px;
  }

  .page-main__title {
    width: 69.6%;
    padding-top: 56px;
    padding-left: 30px;
    padding-right: 30px;


    .font (60px, 60px, 400);
    color: @big-font-color;
    text-align: left;
  }

  .page-main__container {
    padding: 0 30px;
  }
}

@media (min-width: @desktop-width) {
  .page-main {
    position: relative;
  }

  .page-main--index::before {
    position: absolute;
    content: "";
    top: -170px;
    right: 0;
    z-index: -1;

    width: 50%;
    height: 696px;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
  }

  .page-main__container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .page-main__title {
    width: 1220px;
    .margin-center;
    padding-top: 19px;
    padding-bottom: 21px;

    &--index {
      width: 34%;
      padding-top: 52px;
      padding-left: 120px;
      padding-bottom: 0;
      margin-left: 0;
    }

    &--form {
      padding-bottom: 24px;
    }
  }

  .page-main__wrapper {
    max-width: 1300px;
    .margin-center;

    &--fit-example {
      background-image:
        linear-gradient(to top, transparent 463px, @white 463px),
        linear-gradient(to right, #f2f2f2 70%, #eaeaea 70%);
    }
  }

  .page-main__dealers-map-wrapper {
    position: relative;
  }
}
