.page-header--index {
  padding-bottom: 1px;
}

.page-header__row {
  display: flex;
  justify-content: space-between;
}

.page-header__logo {
  padding-top: 10px;
  padding-left: 20px;
}

@media (min-width: @tablet-width) {
  .page-header {
    display: flex;
    justify-content: space-between;

    padding-top: 24px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .page-header__logo {
    padding: 0;
  }

  .page-header__main-nav {
    display: block;
  }

  .page-header__menu-toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    max-width: 1220px;
    padding: 54px 40px;
    .margin-center;
  }

  .page-header__main-nav {
    padding-top: 2px;
    min-width: 489px;
    max-width: 50%;
  }

  .logo__image {
    width: 202px;
    height: 59px;
  }
}
