.page-main--index {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position-x: center;
  background-repeat: no-repeat;
}

.page-main__title {
  margin: 0;
  padding-right: 22px;
  padding-top: 27px;
  padding-bottom: 40px;

  .font (36px, 36px, 400);
  text-align: center;

  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;

  &--index {
    padding-right: 0;
    padding-bottom: 0;

    color: @white;

    border: none;
  }

  &--form {
    padding-bottom: 25px;
    border-bottom: none;
  }
}

.page-main__container {
  padding: 0 20px;
  .margin-center;
}

.page-main__present {
  min-height: 246px;
  padding: 40px 20px;

  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
}

.page-main__present-image {
  display: block;

  .margin-center;
  padding-top: 25px;

  fill: @white;
}

.page-main__present-text {
  width: 165px;
  .margin-center;
  padding-top: 48px;

  .font-arial;
  .font (16px, 16px, 400);
  color: @white;
  text-align: center;
}

.page-main__present-text-br {
  display: block;
  padding-top: 4px;
}
