.page-main--index {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position-x: center;
  background-repeat: no-repeat;
}

.page-main__title {
  margin: 0;
  padding-top: 27px;

  .font (36px, 36px, 400);
  color: @white;
  text-align: center;
}

.page-main__container {
  width: 87.5%;
  .margin-center;
}
