.ymaps-2-1-76-svg-icon {
  top: -56px !important;
  left: -75px !important;
  z-index: 10 !important;

  width: 113px !important;
  height: 106px !important;

  background-image: url("../img/map-pin.png") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
